:root{
    --accent-color: #2196f3;

}

body{
    padding: 0;
    margin: 0;
    width: 1600px;

    
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
background: #FFFFFF;
border: 1px solid #ECECEC;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu ul li a{
    color:  #757575;
    text-decoration: none;
}
body header nav ul li .page:hover,
body header ul li .item:hover
{
color: var(--accent-color);
}
.menu nav .list_menu li .current:focus
{
    color: #2196f3;

}
.logo{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 200px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.list_menu{
    display: flex;
    gap: 30px;
    position: absolute;
    padding: 0;
    height: 16px;
    margin: 0;
    left: 453px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    list-style: none;   
}

.titulo{
    background-color: #2F303A;
    height: 600px;
}
h1{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 448px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

}
button{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px 32px;
   gap: 10px;
   position: absolute;
   width: 261px;
   height: 50px;
   left: 666px;
   top: 430px;
   background: #2196F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px
}

/* ----------------------seccion 1----------------------- */

.seccion1{
    display: flex;
    padding: 0;
    gap: 50px;
    justify-content: center;
    list-style: none;
}

.seccion1 li h3{
width: 270px;
height: 16px;
left: 215px;
top: 775px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.seccion1 li p{
    width: 270px;
height: 75px;
left: 215px;
top: 801px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
/* ------------------------------seccion2----------------- */
.seccion2{
    
}
.seccion2 h2{
    display: flex;
    height: 46.24px;
    left: 619.43px;
    top: 991px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    align-items: center;
    color: #212121;
}

.seccion2 ul{
    display: flex;
    padding: 0;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

.seccion2 ul li{
    width: 373.16px;
    height: 323.7px;
}

/* ------------------------------seccion3----------------- */
.seccion3{
    width: 1600px;
    height: 648px;
    margin-top: 100px;
    background: #F5F4FA;
}

.seccion3 h2{
    padding-top: 100px;
    height: 42px;
    left: 669px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.seccion3 ul{
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 33px;
}
.seccion3 ul li{
    width: 270px;
    height: 368px;
    list-style: none;


background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.seccion3 ul li img{
    width: 270px;
    height: 260px;
}
.seccion3 ul li .nombre{
    display: flex;
    width: 270px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
    justify-content: center;
   

}
.seccion3 ul li p{
    width: 270px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ------------------------------footer----------------------- */
footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    background: #2F303A;
}
footer p{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    margin-top: 65px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
footer ul{
    position: absolute;
    list-style: none;
    margin-top: 110px;
    left: 55px;
}
footer ul li a{
    width: 231px;
    height: 21px;
    margin: 120px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    list-style: none;
}